@use "../helpers" as *;

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  list-style: none;
  border-radius: 0.25rem;

  &-item {
    font-size: fluid(16, 12);
    color: var(--color-breadcrumbs);
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "—";
  padding: 0 0.5rem;
}

