@use "../helpers" as *;

.cart {
  &-table {
    width: rem(900);
    border-collapse: collapse;
    margin-left: 0;  // Явно указываем нулевой отступ слева
    margin-right: auto; // Прижимаем к левому краю
  }

  &-image {
    width: rem(150);
    object-fit: contain;
    border-radius: 4px;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &__button-clear {
    padding: 0;
    font-size: rem(18);
  }

  &-summary{
    background-color: var(--color-gray);
    padding: rem(20);
    border-radius: rem(4);
    margin: 0 !important;
  }

  .cart-table th,
  .cart-table td {
    text-align: center;
  }
}


