.selectable-options {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  width: 100%;
}

.option {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 20px;
  cursor: pointer;
  transition: border-color 0.2s, box-shadow 0.2s;
  flex: 1 1 0; // Каждый блок растягивается равномерно
  min-width: 0; // предотвращает переполнение

  &.active {
    border-color: var(--color-purple);
    box-shadow: 0 0 0 2px rgba(87, 37, 195, 0.2)
  }

  .option-title {
    font-weight: 600;
  }

  .option-description {
    margin-top: 4px;
    color: #666;
    font-size: 14px;
  }

  .hidden-input {
    display: none;
  }
}