@use "../helpers" as *;

.back-button {
  font-size: fluid(16, 14);
   padding: 0;

  &:hover {
    color: var(--color-purple);
  }
}


.product-page {
  display: flex;
  gap: 40px;
}

.product-image {
  max-width: rem(400);   // максимальная ширина
  max-height: rem(350);  // максимальная высота
  width: auto;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  @include laptop {
    max-width: rem(340);
    max-height: rem(320);
  }

  @include tablet {
    max-width: rem(310);
    max-height: rem(300);
  }

  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain; // сохранить пропорции внутри блока
    display: block;
  }
}


.product-details {
  flex: 1;
}

.price {
  font-size: fluid(25, 18);
  font-weight: 500;

  margin-bottom: rem(20);

  &-field {
    max-width: rem(90);
    padding-inline: rem(10);
  }

  &-values {
    display: flex;
    margin-block: rem(20) rem(25);
    font-size: 14px;
    color: var(--color-breadcrumbs);

    justify-content: space-between;
  }
}

.product-title {
  margin-block: rem(50);

  border-bottom: 1px solid var(--color-dark-gray);
  padding-bottom: rem(10);
}

